<div class="jumbotron">
  <h1>Words Defined</h1>
  <h3>Hello... </h3>
    <p>This is meant to be collection or list of words with brief explanations of their meanings</p>

    <p><a class="btn btn-primary" btn-lg href="/word">Word List</a></p>

    <a class="btn btn-info" id='add word' href="/word/new/">Add Word</a>

    <a id='add word' class="btn btn-primary" href="/word/new/"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
</div>
