<!DOCTYPE html>
<html>
  <head>
    <title>Limited Word Definiton App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/superhero/bootstrap.min.css">
  </head>
  <body>
    <div class="jumbotron" >
      <div class="container-fluid">
        <%= yield %>
      </div>

    </div>
    <div class="container-fluid">
       <blockquote class="pull-right">
        <a target="_blank" class="btn btn-link" id='add word' href="http://www.huffingtonpost.com/jon-foreman/whats-in-a-word_b_423969.html">
          <h3>What's in a Word?</h3>
        </a>
        <footer> JON FOREMAN <cite title="Source Title">An article by lead singer and guitarist of Switchfoot</cite></footer>
      </blockquote>
    </div>
  </body>
</html>
