<!DOCTYPE html>
<html>
  <head>
    <title>Limited Word Definiton App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/superhero/bootstrap.min.css">
  </head>
  <body>
  <div class="jumbotron" >
    <div class="container-fluid">
      <%= yield %>
    </div>
  </div>
  </body>
</html>
